<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>BlogApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    
    <div class="ui fixed menu violet">
        <div class="ui container">
            <a class="header item active" href="/"><i class="icon pointing up"></i> BlogApp </a>
            <a href="/" class="item">Home</a>
            <a href="/posts/new" class="item">New Post</a>
        </div>
    </div>
    <div class="ui container main">

